/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .pagination_button__63zCc{
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination_button__63zCc:disabled{
    cursor: not-allowed;
  }
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/quotations/quotations.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.quotations_container__6sVAU{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.quotations_top__VvvUb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quotations_addButton__DbbmF{
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quotations_table__pn9HO{
  width: 100%;
}

.quotations_table__pn9HO td{
  padding: 10px;
}

.quotations_quotation__oEFO6{
  display: flex;
  align-items: center;
  gap: 10px;
}


.quotations_buttons__zcLMq{
  display: flex;
  gap: 10px;
}

.quotations_button___Kq_0{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.quotations_view__GtqzB{
  background-color: teal;
}

.quotations_delete__T0vfo{
  background-color: crimson;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
  }
  
  .search_input__vdsRR {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }
